@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}
.parent {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-content: stretch;
}

.item {
	width: 50%;
	background-color: #9FB9BF;
	animation: 1s ease-out 0s 1 slideInFromTop;
}

.item2 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 50%;
	background-color: #9FB9BF;
	transform: translateY(-100%);
	animation: 1s ease-out 0s 1 slideInFromTop;
	animation-delay: 0.2s;
	animation-fill-mode: forwards;
}

.item3 {
	width: 50%;
	background-color: #9FB9BF;
	transform: translateY(-100%);
	animation: 1s ease-out 0s 1 slideInFromTop;
	animation-delay: 0.4s;
	animation-fill-mode: forwards;
	text-align: right;
}

.pic {
	text-align: center;
	opacity: 0;
	animation: 1s ease-out 0s 1 fadeIn;
	animation-fill-mode: forwards;
	animation-delay: 1.5s;
}

.name {
	color: white;
	text-align: center;
	font-size: 5rem;
	opacity: 0;
	animation: 1s ease-out 0s 1 fadeIn;
	animation-fill-mode: forwards;
	animation-delay: 2s;
}

.content {
	display: flex;
}

.button-small{
	margin: 10px;
    color: #fff;
    word-spacing: 0.25em;
   font-family: 'Open Sans', sans-serif;
   border: solid;
   border-color: white;
   border-width: 1px;
    line-height: 22px;
    padding: 12px 13px 11px;
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 18px;
    text-decoration: none;
    transition: background 1s;
}

.rounded3 {
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 20px;
}

.button-small:hover{
    background: #7e9499;
}

.sourceButton {
    opacity: 0;
	animation: 1s ease-out 0s 1 fadeIn;
	animation-fill-mode: forwards;
	animation-delay: 2s;
}